<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <add key="smtpHost" value="secure200.inmotionhosting.com" />
    <add key="smtpPort" value="587" />
    <add key="default.fromAddress" value="antony.samy@ravsoftsolutions.com"/>
    
    <add key="default.subject" value="Subject"/>
    
  </appSettings>
</configuration>